
/* Fuente y colores */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #b30000;
  color: white;
  text-align: center;
  padding: 1rem;
}
h1, h2, h3 {
  margin: 0.5rem 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
/* Icono */
#ico{
	max-width:40px;
}
/* Descripción */
.descripcion {
	text-align: center;
}
.foto-descripcion {
  width: 100%;        
  height: auto;       
  margin-top: 1rem;   
  border-radius: 8px; 
  background-color: #ddd; 
}

/* Galería de imágenes anteriores */
.imagenes h3{
	text-align: center;
}
.galeria {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img {
  width: 30%;
  border-radius: 8px;
  background-color: #ddd; 
}

/* Formulario */
.formulario h3{
	text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, select, textarea, button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #b30000;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #800000;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Responsive */
@media (max-width: 480px) {
  .galeria img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .galeria img {
    width: 45%;
  }
}

@media (min-width: 769px) {
  .galeria img {
    width: 30%;
  }
}
