:root {
    --blanco: #f5f5f2;
    --verde: #1f3d2b;
    --rojo: #8b1e1e;
    --gris: #2e2e2e;
    --dorado: #c9a24d;
}

body {
    background-color: var(--blanco);
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    background-color: var(--rojo);
    margin: 0.625rem;
    border-radius: 0.625rem;
}

header h3 {
    margin: 1.25rem;
    color: var(--dorado);
}

header img {
    width: 9.375rem;
    height: auto;
    margin: 1.25rem;
}

.formulario {
    background-image: url("../imgs/fondo_def.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: sticky;
}

form textarea {
    width: 100%;
    max-width: 100%;
    height: 6.25rem;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    resize: vertical;
}

fieldset {
    width: 35%;
    margin: auto;
    margin-bottom: 0.5rem;
    text-align: center;
}

.fotos img {
    width: 31rem;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rojo);
    margin: 1rem;
    padding: auto;
    border-radius: 1rem;
    color: var(--blanco);
}

.foot img {
    width: 1.875rem;
    height: 1.875rem;
    margin: 0 1rem;
}

.aside {
    margin: 2rem;
    padding: 1.25rem;
    width: 25%;
    order: 1;
}

.main {
    width: 75%;
    margin: 2rem;
    padding: 1.25rem;
    order: 2;
}

main p {
    line-height: 2;
}

main span {
    color: var(--rojo);
    font-size: 35px;
    font-weight: bold;
    vertical-align: baseline;
}

#asimain {
    display: flex;

}

#img1 {
    display: flex;
    align-items: center;
    margin-top: 2rem;

}

#img2 {
    display: flex;
    align-items: center;
    margin-top: 2rem;

}

#img3 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#img4 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#img1 img,
#img1 p {
    margin-right: 5rem;
    margin-left: 2.5rem;
}

#img2 img,
#img2 p {
    margin-right: 5rem;
    margin-left: 2.5rem;
}

#img3 img,
#img3 p {
    margin-right: 5rem;
    margin-left: 2.5rem;
}

#img4 img,
#img4 p {
    margin-right: 5rem;
    margin-left: 2.5rem;
}

/* Tablets */
@media (max-width: 768px) {
    #asimain {
        flex-direction: column;
    }

    .main {
        order: 1;
    }

    .aside {
        order: 2;
        width: 80%;
    }

    #img1 img {
        display: none;
    }

    #img2 img {
        display: none;
    }

    #img3 img {
        display: none;
    }

    #img4 img {
        display: none;
    }

    #img1 img,
    #img1 p {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    #img2 img,
    #img2 p {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    #img3 img,
    #img3 p {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    #img4 img,
    #img4 p {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .header {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .main{
        margin-bottom: 0.5rem;
    }
    
    .foot{
        flex-direction: column;
    }
}

/* Celulares */
@media (max-width: 480px) {

    .header{
        font-size: 0.7rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .header img{
        display: none;
    }

    .aside {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 80%;
    }


    .fotos{
        display: none;
    }

    #img1 img,
    #img1 p {
        display: none;
    }

    #img2 img,
    #img2 p {
       display: none;
    }

    #img3 img,
    #img3 p {
        display: none;
    }

    #img4 img,
    #img4 p {
        display: none;
    }
}