body{
    margin: 0;
    font-family: Arial;
    background-color: #b11226;
    background-image: url("../img/copos.png");
    background-repeat: repeat;
    color: #333;
}

.bloque-verde{
    background-color: #2f7d4c;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 15px auto;
    border-radius: 6px;
    background-image: url("../img/luces.png");
    background-repeat: repeat-x;
    background-position: top;
    width: 96%;
}

main{
    width: 96%;
    margin: 0 auto;
}

.descripcion{
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    width: 96%;
}

.cuadros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px auto;
}

.cuadro{
    background-color: white;
    width: 30%;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    height: 320px;
}

/* IMÁGENES */
.cuadro img{
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
}

/* BLOQUE REQUISITOS */
.requisitos{
    display: flex;
    align-items: center;
    text-align: left;
}

.requisitos img{
    width: 40%;
    height: 210px;
    margin-right: 15px;
}

.requisitos div{
    width: 60%;
}

/* FORMULARIO */
.formulario{
    width: 70%;
    margin: 30px auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nivel1{ width: 35%; }
.nivel2{ width: 45%; }
.nivel3{ width: 55%; }
.nivel4{ width: 65%; }
.nivel5{ width: 75%; }
.nivel6{ width: 50%; }

form input,
form select,
form textarea{
    margin-top: 10px;
    padding: 6px;
}

input[type="submit"]:hover{
    background-color: #b11226;
    color: white;
}

/* TABLET */
@media (max-width: 768px){
    .cuadro{
        width: 45%;
        height: auto;
    }

    .formulario{
        width: 85%;
    }
}

/* MÓVIL */
@media (max-width: 480px){
    .cuadro{
        width: 100%;
        height: auto;
    }

    .requisitos{
        flex-direction: column;
        text-align: center;
    }

    .requisitos img{
        width: 100%;
        margin-bottom: 10px;
    }

    .requisitos div{
        width: 100%;
    }

    .formulario{
        width: 96%;
    }

    .nivel1,
    .nivel2,
    .nivel3,
    .nivel4,
    .nivel5,
    .nivel6{
        width: 100%;
    }
}